@import url('https://fonts.googleapis.com/css?family=Lato:300');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
*, *:before, *:after {
    box-sizing: border-box;
  }
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    height: 50px;
    background: greenyellow;
    -webkit-box-shadow: 0px 7px 5px -5px rgba(140,140,140,1);
    -moz-box-shadow: 0px 7px 5px -5px rgba(140,140,140,1);
    box-shadow: 0px 7px 5px -5px rgba(140,140,140,1);
}
nav{
    height: 100%;
}
nav ul{
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul .logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
nav ul .logo img{
    width: 100%;
}
nav>ul>li:last-child{
    position: relative;
}
nav>ul>li:last-child span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .infoUser.active{
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 0;
    right: calc(100% - 50px);
    top: 50px;
    background: white;
    -webkit-box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
    -moz-box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
    box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
}
nav .infoUser{
    display: none;
}
nav ul li:last-child ul li{
    padding: 15px;
}
.wrap{
    height: 100%;
    overflow-y: scroll;
}
.wrap::-webkit-scrollbar{
    width: 0;
}
.grid{
    width: 75%;
    margin: 0 auto;
}
.grid-item{
    width: 30%;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
    -moz-box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
    box-shadow: 0px 7px 20px -1px rgba(140,140,140,1);
}
.grid-item .imgSettingTask{
    position: absolute;
    left: calc(100% - 35px);
    width: 30px;
    top: 5px;
}
.grid-item h3{
    margin-bottom: 20px;
}
.grid-item span{
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 20px;
}

.container{
   position: relative;
   padding: 20px;
   height: calc(100% - 50px);
}
.container aside{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.container aside .setting{
    width: 50px;
    height: 50px;
    transition: .6s;
}
.container aside .setting.active{
    transform: rotate(180deg)
}
.container aside img{
    position: relative;
    cursor: pointer;
    margin-bottom: 25px;
}

.container aside .all-file{
    right: 70px;
    width: 50px;
    height: 50px;
    transition: .1s;
}
.container aside .check-file{
    right: 70px;
    width: 50px;
    height: 50px;
    transition: .2s;
}
.container aside .not-complete{
    right: 70px;
    width: 50px;
    height: 50px;
    transition: .4s;
}
.container aside .add-file{
    right: 70px;
    width: 50px;
    height: 50px;
    transition: .6s;
}

.container aside .add-file.active,
.container aside .not-complete.active,
.container aside .check-file.active,
.container aside .all-file.active
{
    right: 0;
}
/* CREATE TASK */
.createTask{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    background: #13232f;
    max-width: 600px;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.createTask ul{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0 auto 10px;
}
.createTask>ul>li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: wheat;
}
.createTask input, .createTask textarea{
    margin-bottom: 32px;
    outline: 0;
    width: 100%;
    padding: 5px 10px;
    font-size: 22px;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    background: none;
}
.createTask button{
    background: #179b77;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 100;
}
.createTask h1{
    color: #ffffff;
    text-align: center;
}
/* ICON PROCCES */
.iconProccees{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
}
/* TOOLTIP */
span.tooltip{
    position: absolute;
    background: rgba(121, 121, 121, 0.548);
    padding: 5px;
    z-index: 100;
    display: none;
}
/* Setting Task */
.test{
    width: 0;
    height: 0;
    transform: scale(0.1);
    position: absolute;
    left: 65%;
    top: 70px;
    display: none;
}
.test .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test img{
    width: 40px;
    position: absolute;
    transition: .4s;
}
.test img:first-child{
    top: -20px;
    z-index: 10;
}
.test img:nth-child(2){
    top: 20px;
    right: 37px;
    z-index: 10;
}
.test img:nth-child(3){
    width: 160px;
}
.test img:last-child{
    top: 20px;
    left: 37px;
    z-index: 10;
}
.test.active{
    display: block;
    animation: wrapSettingTask .3s linear;
    animation-fill-mode: forwards; 
    
}
@keyframes wrapSettingTask{
    10%{transform: scale(.2)}
    50%{transform: scale(.5)}
    100%{transform: scale(1)}
}
@keyframes imgRound{
    0%{transform: rotate(0deg)}
    25%{transform: rotate(90deg)}
    50%{transform: rotate(180deg)}
    75%{transform: rotate(270deg)}
    100%{transform: rotate(355deg)}
}

.test img:nth-child(3).active{
    animation: imgRound 1s infinite linear;
}
.test img:not(:nth-child(3)),
.grid-item .imgSettingTask:hover{
    cursor: pointer;
}